@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CloudBnb</h1>
    <i><p>De plek om te huren!</p></i>
    <p>
        Welkom bij Cloudbnb - de toekomst van het huren van accommodaties! Waarom zou u kiezen voor Cloudbnb om uw volgende verblijf te boeken? Omdat we ons inzetten om u een unieke, zorgeloze en persoonlijke ervaring te bieden, van begin tot eind.
        <br>
        Wanneer u een verblijf boekt via Cloudbnb, kiest u voor de hoogste kwaliteit accommodaties in de meest gewilde locaties. Of u nu op zoek bent naar een gezellige studio in het centrum van de stad, een luxe villa aan het strand, of iets daartussenin, wij hebben het perfecte verblijf voor u.
        <br>
        Maar onze service gaat verder dan alleen het aanbieden van accommodaties. Ons toegewijde team van experts staat altijd voor u klaar om u te helpen bij het vinden van uw ideale verblijf, of om u te adviseren over de beste restaurants, attracties en evenementen in de omgeving. Wij zorgen ervoor dat uw verblijf onvergetelijk wordt, om de beste herinneringen te maken.
        <br>
        Bovendien maken we het boekingsproces zo eenvoudig mogelijk. Geen gedoe, geen verborgen kosten, geen zorgen. Gewoon een eenvoudige en veilige boeking, rechtstreeks bij de eigenaar van de accommodatie. Zo weet u zeker dat u de beste prijs krijgt voor uw verblijf.
        <br>
        Dus waar wacht u nog op? Boek uw volgende verblijf bij Cloudbnb en ontdek waarom duizenden tevreden klanten ons hebben gekozen als hun favoriete accommodatie verhuurplatform. Wij beloven u een verblijf dat uw verwachtingen overtreft.
    </p>
    <a asp-area="" asp-controller="Properties" asp-action="Index">
    <button type="button" class="btn btn-primary btn-xl" >Je droom locatie is 1 klik verwijderd!</button>
    </a>
</div>
